@font-face {
    font-family: 'gilroy-web';
    src: url('../../font/Gilroy-Regular.woff2') format('woff2'),
         url('../../font/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-web';
    src: url('../../font/Gilroy-Medium.woff2') format('woff2'),
         url('../../font/Gilroy-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-web';
    src: url('../../font/Gilroy-SemiBold.woff2') format('woff2'),
         url('../../font/Gilroy-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'firasans-web';
    src: url('../../font/FiraSans-Regular.woff2') format('woff2'),
         url('../../font/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'firasans-web';
    src: url('../../font/FiraSans-Italic.woff2') format('woff2'),
         url('../../font/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@media all and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'firasans-web', sans-serif;
    color:#fff;
    background: #212128;
}
input, textarea, select, button{
    font-family: inherit;
}
.flexi{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
ul, li, p{
    margin: 0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#bfe3ec;
}
a:hover{
    color:#f0f0f0;
}
div{
    box-sizing: border-box;
}
.button{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px 0px;
    color: #fff;
    font-size: 16px;
    line-height: 1.33;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    border:none;
    position: relative;
    background: #644185;
    border-radius: 3px;
    font-weight: 400;
}
.button:hover{
    background: #784ca1;
    color:#fff !important;
}
.button:active{
    top:1px;
}
.button:disabled{
    background: #ddd;
    border-color:#d5d5d5;
    color:#fff;
}





.wrap{
    background: url(../../images/bg.jpg) #16171c center top no-repeat;
    position: relative;
    padding-top: 50px;
}
.page{
    background: #080b0f;
    color:#a6adbb;
    padding:0 65px 65px;
    margin-bottom: 50px;
}
.page__title{
    font-size: 30px;
    line-height: 42px;
    font-family: "gilroy-web", sans-serif;
    font-weight: 700;
    margin: 0 0 0;
    padding-top: 50px;
    color:#fff;
}





.page__content{
    font-size: 16px;
    line-height: 28px;
    padding-top: 0px;
    padding-right: 50px;
}
.page__content--simple{
    margin-right: 0;
    max-width: 800px;
}
.page__title_rightgap{
    padding-right: 50px;
}
.page__text{
    margin-top: 48px;
}
.page__text p{
    margin-bottom: 24px;
}
.page__text a{
    color:#fff;
}
.page__text a:hover{
    color:#a0a0c7;
}
.page__text img{
    display: block;
    margin:48px 0;
    max-width: 100%;
}
.page__text div>img{
    margin: 0;
}
.page__text blockquote{
    margin:24px 0;
    padding: 24px;
    overflow: hidden;
    border-radius: 10px;
    font-style: italic;
    background: #1e0b28;
}
.page__text blockquote small,
.page__text blockquote cite{
    display: block;
    font-size: 90%;
    padding-bottom: 10px;
    color:#7e8097;
}
.page__text blockquote p{
    margin-bottom: 18px;
}
.page__text blockquote p:last-child{
    margin-bottom: 0;
}
.page__text h2{
    font-size: 24px;
    line-height: 28px;
    color:#fff;
    font-weight: 700;
    font-family: "gilroy-web", sans-serif;
    margin:48px 0 24px;
}
.page__text h3{
    font-size: 18px;
    line-height: 24px;
    color:#fff;
    font-weight: 700;
    font-family: "gilroy-web", sans-serif;
    margin:36px 0 24px;
}
.page__text h6{
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
}
.page__text h2>i,
.page__text h3>i{
    margin-right: 10px;
}
.page__text ul,
.page__text ol{
    margin-bottom: 18px;
}
.page__text ol{
    counter-reset: textol;
}
.page__text ul li,
.page__text ol li{
    padding-left: 30px;
    position: relative;
    margin-bottom: 3px;
}
.page__text ul li:before,
.page__text ol li:before{
    position: absolute;
    content:"\f111";
    font-family: foont;
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#fff;
    top:0px;
    left: 12px;
    font-size: 4px;
}
.page__text ol li:before{
    width: auto;
    height: auto;
    border-radius: 0;
    content: counter(textol) ".";
    counter-increment: textol;
    font-family: inherit;
    background: none;
    top: 5px;
    text-align: right;
    left: 2px;
    width: 20px;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color:#fff;
}
.page__leadvideo{
    clear: both;
    padding-top: 50px;
    max-width: 800px;
}
.pagehtml__title{
    color:#fff;
    font-size: 30px;
    line-height: 42px;
    font-family: "gilroy-web", sans-serif;
    font-weight: 700;
    padding-top: 40px;
}
.pagehtml__title--centred{
    text-align: center;
}
.page__button{
    height: 40px;
    padding: 0 30px;
    font-size: 14px;
    margin-top: 18px;
}
.page__button i{
    margin-right: 10px;
    font-size: 12px;
    margin-left: -6px;
}




.sideimg{
    position: relative;
}
.sideimg figure{
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}
.sideimg__content,
.sideimg>figure{
    position: absolute;
    top:0;
    left: 100%;
    display: block;
    margin: 0;
    width: 290px;
    padding-left: 40px;
}   
.sideimg img{
    display: block;
    margin:0;
}
.sideimg figcaption{
    opacity: 0.3;
    color: #c0cbd9;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 10px;
}

















/* menu disc-singles */
.pagehtml__menu{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
}
.pagehtml__menu ul{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    background: #2e3136;
    border-radius: 25px;
    overflow: hidden;
}
.pagehtml__menu li{
    line-height: 50px;
    font-size: 18px;
    font-family: "gilroy-web", sans-serif;
    font-weight: 600;
}
.pagehtml__menu li>a{
    color:#fff;
    display: block;
    min-width: 150px;
    padding:0 15px;
}
.pagehtml__menu li>a:hover{
    background-color: #3e4654;
}
.pagehtml__menu li>a.active{
    background-color: #616c7e;
}
.pagehtml__content{
    padding-top: 50px;
}
/* menu disc-singles */








/* Pagination */
.pagination{
    max-width: 750px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.pagination .nav-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.pagination a,
.pagination .dots,
.pagination .current{
    width: 35px;
    line-height: 35px;
    background: #1c1c24;
    text-align: center;
    color:#fff;
    font-size: 15px;
    border-radius: 20px;
    font-family: "gilroy-web", sans-serif;
    font-weight: 600;
    margin-left: 3px;
    margin-right: 3px;
}
.pagination .dots{
    background: none;
}
.pagination .current{
    background-color: #963232;
}
.pagination .prev,
.pagination .next{
    width: 45px;
    line-height: 45px;
}
.pagination a:hover{
    background: #42222f;
}
/* Pagination END */





















@media (max-width:1199px){
    .wrap{
        padding-top: 42px;
        background: url(../../images/bg_mob.jpg) #16171c center top no-repeat;
    }
    .page{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
    .page__content{
        padding-top: 0px;
        padding-right: 0px !important;
        font-size: 16px;
        line-height: 26px;
    }
    .page__title{
        padding-top: 30px;
        font-size: 24px;
        line-height: 30px;
    }
    .page__text{
        margin-top: 30px;
    }
    .page__text p{
        margin-bottom: 18px;
    }
    .page__text h2{
        font-size: 20px;
        line-height: 28px;
        margin: 24px 0;
    }
    .page__text h3{
        margin: 18px 0;
    }
    .page__text blockquote{
        margin: 0 0 18px;
        padding: 15px;
        font-size: 90%;
    }
    .page__text img{
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .page__text .col-12{
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #333;
    }
    .page__text .col-12:last-child{
        border-bottom: none;
        margin-bottom: 0;
    }
    .sideimg{
        position: relative;
    }
    .sideimg__content,
    .sideimg>figure{
        position: relative;
        top:0;
        left: 0;
        display: block;
        margin:24px 0 24px;
        width: auto;
        padding-left: 0;
        max-width: 100%;
    }
    .sideimg img{
        width: 100%;
        margin: 0;
    }
}








@media (max-width:992px){
    body .pagehtml__title{
        font-size: 24px;
        line-height: 30px;
        padding-top: 20px;
    }
    body .pagehtml__menu{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    body .pagehtml__menu li{
        line-height: 40px;
        font-size: 14px;
    }
    body .pagehtml__menu li>a{
        min-width: 0px;
    }
    .page{
        margin-bottom: 0;
    }
    .page__content{
        font-size: 14px;
        line-height: 24px;
    }
    .pagehtml__content{
        padding-top: 30px;
    }
    .page__button{
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
}